<div class="container content-wrap clearfix event-settings">
  <div class="col-md-12">
    <h3>Event Schedule</h3>
    <p><i>Drag and drop to rearrange event items</i></p>
  </div>
  <div class="col-sm-6">
    <div class="panel fix-height">
      <table class="table table-bordered table-hover table-condensed">
        <thead>
          <tr class="active">
            <th>#</th>
            <th>Cat.</th>
            <th>Event Item</th>
            <th class="col-sm-2">No.</th>
          </tr>
        </thead>
        <tbody ui-sortable="opts" ng-model="eventSettings.schedule" id="currentItems">
          <tr ng-repeat="item in eventSettings.schedule" ng-class='{danger:roundIsUnrecognised(item.round) || isExtra(item) , warning: outOfPlace(item), "active": afterActive(item,$index)}'>
            <td class="col-sm-2">{{$index + 1}}</td>
            <td><code>{{item.category}}</code></td>
            <td>{{item.round}} {{item.roundNo}}
              <a ng-click="remove($index)" ng-show="roundIsUnrecognised(item.round) || isExtra(item)" class="pull-right">
                <span class="glyphicon glyphicon-remove"></span>
              </a>
            </td>
            <td>
              <div class="input-group">
                <input type="text" class="form-control input-xs" ng-model="item.id">
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="alert alert-warning" ng-show="eventSettings.scheduleErrors.length">
      <ul>
        <li ng-repeat="error in eventSettings.scheduleErrors">
          {{error.category}} {{error.round}} {{error.roundNo}}
          <span ng-if="error.type === 403">should not exist.</span>
          <span ng-if="error.type === 404">is missing.</span>
          <span ng-if="error.type === 405">has duplicates.</span>
          <span ng-if="error.type === 500">seems to be out of place.</span>
        </li>
      </ul>
    </div>
    <button style="margin-bottom: 10px" class="btn btn-lg btn-default" ng-click="save()" ng-disabled="existingErrors()">Save Schedule</button>
    <div class="panel">
      <table class="table table-bordered table-condensed">
        <thead>
          <tr>
            <th colspan="3">Missing Items</th>
          </tr>
          <tr class="active">
            <th>#</th>
            <th>Cat.</th>
            <th>Event Item</th>
          </tr>
        </thead>
        <tbody ui-sortable="{connectWith:'#currentItems'}" ng-model="missing">
          <tr ng-repeat="item in missing">
            <td class="col-sm-2">{{$index + 1}}</td>
            <td><code>{{item.category}}</code></td>
            <td>{{item.round}} {{item.roundNo}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
