<div class="jumbotron event clearfix" ng-hide="waitOutput">
  <h3>Event No. {{schedule.id}} | <span class="h2"> {{schedule.catName}} </span> | {{schedule.round}}{{race.timeTrial? " TIMETRIAL ":" "}}{{schedule.roundNo}}</h3>
  <h4>{{event.name}}
    <span>
      <a type="btn btn-default" href="#/event/settings">
        <span class="glyphicon glyphicon-cog" style="font-size:18px;"></span>
      </a>
    </span>
  </h4>
  <h3 ng-show="race.completed" style="color:green;"><b>THE RACE WAS COMPLETED</b></h3>

  <div class="panel panel-default">
    <table class="table table-bordered table-condensed">
      <thead>
        <tr>
          <th>Lane</th>
          <th class="col-sm-8">Team Name</th>
          <th ng-show="race.completed">Timings</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="(key,val) in teams track by val._id">
          <td>{{val.categories[race.category][race.round].lane}}</td>
          <td>{{val.name}}</td>
          <td class="success" ng-show="race.completed">{{val["latestTiming_" + race.category]}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="alert alert-warning" ng-show="notFound"><b>{{notFound.category}} {{notFound.round}} {{notFound.roundNo}} is not yet ready!</b> Please ensure the event manager has confirmed all the necessary races for the event to proceed.</div>
  <div class="alert alert-danger" ng-show="(event.scheduleErrors.length || schError) && race.completed"><b>We have found errors in event schedule!</b> Please correct them before continuing with the event.</div>
  <a type="button" class="btn btn-default pull-left" target="_blank" href="#/event/view/{{event.eventID}}">View Event Progression</a>
  <button type="button" class="btn btn-default pull-right" ng-show="race.completed" ng-click="nextRace()">Next Race</button>
  <button type="button" class="btn btn-default pull-right" ng-hide="race.completed" ng-click="outputEvent()">Confirm</button>
  <button type="button" class="btn btn-default pull-right" ng-hide="race.completed" ng-click="skipEvent()" style="margin-right: 10px;">Skip</button>

</div>
<div class="jumbotron event clearfix" ng-show="waitOutput">
  <h3>EVT File Generated.</h3>
  <h4>Awaiting Race Results For Event No. {{schedule.id}} | {{schedule.catName}} {{schedule.round}} {{schedule.roundNo}}</h4>
  <h5>Hint: Press the "Load Next Event" button on Lynx to open this event.</h5>
  <button type="button" class="btn btn-default" id="simulate" ng-show="event.devMode">Simulate Result</button>
  <button type="button" class="btn btn-default" id="manualLif">Select LIF</button>
  <button type="button" class="btn btn-default" ng-click="skipEvent()">Skip Event</button>
  <input style="display:none;" id="lifSelector" type="file" accept=".lif" />
</div>
