<div class="jumbotron">
    <p><a class="btn btn-default" href="#/newevent">Setup New Event</a></p>
    <br>
    <p><i class="h4">or</i></p>
    <br>
    <div class="btn-group" dropdown>
      <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle ng-disabled="events.length === 0">
        Open a Previously Configured Event <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li ng-repeat="event in events"><a ng-click="loadEvent(event)">{{event.doc.name}}</a></li>
      </ul>
    </div>
</div>
