<div class="jumbotron">
    <div class="btn-group" ng-hide="chosenEvent.eventId" dropdown>
        <button type="button" class="btn btn-default btn-large btn-block dropdown-toggle" dropdown-toggle ng-disabled="noEvents">
            Select the Event to Setup <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li ng-repeat="(key,val) in possibleEvents"><a ng-click="selectEvent(key,val)">{{val}}</a></li>
        </ul>
    </div>
    <button class="btn btn-lg btn-default" type="file" ng-click="uploadExcel()" ng-show="chosenEvent.eventId">Load Event Excel for {{chosenEvent.name}}</span></button>
    <input style="display:none;" id="raceExcel" type="file" accept=".xlsx,.xls" />
</div>
