<div class="jumbotron">
  <div class="btn-group" ng-hide="chosenEvent.eventId" dropdown>
    <button type="button" class="btn btn-default btn-large btn-block dropdown-toggle" dropdown-toggle ng-disabled="noEvents">
      Select the Event to Setup <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li ng-repeat="(key,val) in possibleEvents"><a ng-click="selectEvent(key,val)">{{val}}</a></li>
    </ul>
  </div>
  <button class="btn btn-lg btn-default" type="file" ng-click="uploadExcel()" ng-show="chosenEvent.eventId && !lane">Load Event Excel for {{chosenEvent.name}}
  </button>
  <input style="display:none;" id="raceExcel" type="file" accept=".xlsx,.xls" />
  <div ng-show="lane">
    <h3>Select No. Of Lanes</h3>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Category ID</th>
          <th>Category Name</th>
          <th>Lanes</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="category in e.categories">
          <td><code>{{category.id}}</code></td>
          <td>{{category.name}}</td>
          <td>
            <div class="btn-group">
              <label class="btn btn-default un-jumbo" ng-model="category.lanes" btn-radio="4">4</label>
              <label class="btn btn-default un-jumbo" ng-model="category.lanes" btn-radio="6">6</label>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-default" ng-click="selectLanes()">Confirm & Save</button>
  </div>
</div>
